/target/*.jar
*.jar

# Ignore the server-information folder
server-information/

# Ignore all .zip files
*.zip

# Ignore IDE and configuration files
.vscode/

# Ignore specific microservices
eurecka/
server-information/
server-configuration/
